:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    background-color: #e3fced;
    background-image: radial-gradient(at 47% 33%, hsl(0.00, 0%, 100%) 0, transparent 59%),
    radial-gradient(at 82% 65%, hsl(41.63, 62%, 85%) 0, transparent 55%);
    background-repeat: no-repeat;
}
